body {
    background-color: black;
}

h1 {
    color: beige;
    font-size: larger;
    text-align: center;
}

img {
    margin-left: 400px;
    border-radius: 20%;
    border: 10px solid rgb(168, 204, 70);
}